nav, ul, nav > .right {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 2px solid var(--color-light-grayish-blue);
}

.avatar {
  height: 2rem;
}

ul {
  list-style: none;
  color: var(--color-grayish-blue);
  justify-content: space-between;
}

.left > ul > li {
  cursor: pointer;
}

.left > ul > li:hover {
  transition: all 0.3s;
  color: var(--color-dark-grayish-blue);
}

.right {
  gap: 2rem;
  align-self: flex-end;
}

nav > .left {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3rem;
}