.quantity-picker {
  display: flex;
}

.quantity-picker > * {
  background-color: var(--color-light-grayish-blue);
  text-align: center;
  padding: 16px;
}

.quantity-picker > button {
  color: var(--color-orange);
  font-weight: 700;
  font-size: 32px;
  transition: all 0.3s ease-in;
}

.quantity-picker > button:hover {
  filter: opacity(0.4);
}

.quantity-picker > button:first-child {
  border-radius: 6px 0 0 6px;
}

.quantity-picker > button:last-child {
  border-radius: 0 6px 6px 0;
}

.quantity-picker > input {
  width: 3rem;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}